@font-face {
    font-family: 'DM Sans';
    src: url('../font/DMSans-SemiBold.woff2') format('woff2'),
        url('../font/DMSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../font/DMSans-Regular.woff2') format('woff2'),
        url('../font/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    src: url('../font/DMSerifDisplay-Italic.woff2') format('woff2'),
        url('../font/DMSerifDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    src: url('../font/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('../font/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

